<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="static/images/favicon.png">

        <!-- SEO 
          ================================================== -->
        <title>مرکز نوآوری سازمان تنظیم مقررات صوت و تصویر فراگیر در فضای مجازی</title>
        <meta name="description" content="مارس یک قالب HTML برای راه اندازی صفحه به زودی است . شامل امکاناتی مثل شمارنده معکوس، شبکه های اجتماعی، اطلاعات تماس، فرم تماس و اطلاعیه و ارسال با PHP است.">
        <meta name="Keywords" content="به زودی,قالب به زودی, قالب HTML به زودی">

        <!-- CSS Files
          ================================================== -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/font-awesome.min.css" rel="stylesheet">
        <link href="static/css/animate.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="static/css/responsive.css" rel="stylesheet">


    </head>
    <body>
        <div class="main-wrapper">

            <section class="header">
                <div class="bg-cover" style="background-image: url(static/images/bg.gif)"></div>
                <div class="bg-overlay"></div>

                <div class="container header-content">
                    <div class="logo">
                        <a><img src="static/images/logo.png" alt="image"></a>
                    </div>
                    <div class="header-content">
                        <h1>مرکز نوآوری رسانه‌های صوت و تصویر آومیک</h1>
                        <p>وب سایت ما در حال ایجاد است. به زودی با سایت جالب جدید خود در اینجا خواهیم بود ، مشترک شوید تا آغاز فعالیت سایت به شما اطلاع داده شود.</p>
                        <div class="countdown wow bounceInUp">
                            <div class="defaultCountdown"></div>
                        </div>
                        <div class="header-social-media">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" data-rel="tooltip"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" data-rel="tooltip"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Google+" data-rel="tooltip"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Linkdin" data-rel="tooltip"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Youtube" data-rel="tooltip"><i class="fa fa-circle fa-youtube"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Vimeo" data-rel="tooltip"><i class="fa fa-vimeo"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram" data-rel="tooltip"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest" data-rel="tooltip"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram" data-rel="tooltip"><i class="fa fa-snapchat"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Snapchat" data-rel="tooltip"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </section>

            <div class="toogle-section left-icon">
                <ul>
                    <li class="a wow flipInX" data-delay="100" data-toggle="tooltip" data-placement="right" title="تماس با ما" data-rel="tooltip"><a data-toggle="modal" data-target=".contact"><img src="static/images/icons/contact.png" alt="image"></a></li>
                    <li class="b wow flipInX" data-delay="100" data-toggle="tooltip" data-placement="right" title="مطلع شوید" data-rel="tooltip"><a data-toggle="modal" data-target=".subscribe"><img src="static/images/icons/subscribe.png" alt="image"></a></li>
                </ul>
            </div>
            <div class="toogle-section right-icon">
                <ul>
                    <li class="c wow flipInX" data-delay="100"  data-toggle="tooltip" data-placement="left" title="درباره ما" data-rel="tooltip"><a data-toggle="modal" data-target=".aboutus"><img src="static/images/icons/about.png" alt="image"></a></li>
                    <li class="d wow flipInX" data-delay="100" data-toggle="tooltip" data-placement="left" title="مکان ما" data-rel="tooltip"><a data-toggle="modal" data-target="#myMapModal"><img src="static/images/icons/location.png" alt="image"></a></li>
                </ul>

            </div>

            <!-- About start here -->
            <div class="modal fade aboutus" role="dialog" aria-hidden="true" data-keyboard="true" data-backdrop="static" tabindex="-1">

                <div class="modal-dialog clearfix">
                    <div class="modal-content pop-up">
                        <a href="#" class="fa fa-times cls-pop" data-dismiss="modal"></a>
                        <h3>درباره ما</h3>
                        <div class="clearfix">
                            <div>
                                <p>مرکز نوآوری رسانه‌های صوت و تصویر ساترا (آومیک) گامی دیگر از سوی مرکز نوآوری سازمان تنظیم مقررات صوت و تصویر فراگیر (ساترا) برای ایجاد تنظیم‌گری مؤثر در فضای مجازی کشور است. این مرکز یکی از تسهیلات اعطایی ساترا به زنجیره ارزش صوت و تصویر فراگیر است که در حال حاضر ۶ استارتاپ و یک شتاب‌دهنده و آزمایشگاه نوآوری رسانه در آن مستقر و فعال هستند. این مرکز با همکاری ۴ شتاب‌دهنده ازجمله شتاب‌دهنده تنظیم یار (در حوزه فناوری تنظیم‌گری)، شتاب‌دهنده برش (در حوزه تولید محتوای کودک و نوجوان)، شتاب‌دهنده اکسین (در حوزه تسهیل و آماده‌سازی محتوای خارجی برای فعالان صوتی و تصویری) و شتاب‌دهنده توسکا و روبیکا (در حوزه تولید محتوا و تهیه پلتفرم‌های صوت و تصویر) مشغول فعالیت است. </p>
                                <img class="twke3" src="static/images/twke3.png" alt="image">
                            </div>
                        </div>
                        <div class="about-img">   
                            <img src="static/images/about.jpeg" alt="image">
                        </div>      
                    </div>
                </div>
            </div>
            <!-- About end here -->

            <!-- Location start here -->
            <div class="modal fade location" id="myMapModal" role="dialog" aria-hidden="true" data-keyboard="true" data-backdrop="static" tabindex="-1">

                <div class="modal-dialog clearfix">
                    <div class="modal-content pop-up">
                        <a href="#" class="fa fa-times cls-pop" data-dismiss="modal"></a>
                        <h3>در تماس باشید</h3>
                        <div class="clearfix">
                            <p>اگر سوالی، پیشنهادی یا نظری دارید ، ما پذیرای آن هستیم. از طریق روش های زیر با ما ارتباط برقرار کنید.</p>
                        </div>
                        
                        <div class="clearfix">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3216.1462061531083!2d59.61048141476412!3d36.284502204258345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f6c90d790220475%3A0x58e5df6fba0382ff!2sRazavi%20Khorasan%20Province%2C%20Mashhad%2C%20Holy%20Shrine%2C%20Holy%20Shrine%20Underpass%2C%20Iran!5e0!3m2!1sen!2sus!4v1578546843440!5m2!1sen!2sus" width="555" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="clearfix row contact-info">
                            <div class="col-md-4 col-sm-12">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <h4>آدرس</h4>
                                <p>تهران، خیابان شهید مطهری، تقاطع خیابان شهید مفتح، جنب مترو شهید مفتح ساختمان سازمان تنظیم مقررات صوت و تصویر فراگیر</p>

                            </div>
                            <div class="col-md-4 col-sm-12">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                <h4>تلفن تماس</h4>
                                <p>02188345199</p>

                            </div>
                            <div class="col-md-4 col-sm-12">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <h4>ایمیل </h4>
                                <p>a.mohammadzadeh@irib.ir</p>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Location end here -->

            <!-- Contact US start here -->
            <div class="modal fade contact" role="dialog" aria-hidden="true" data-keyboard="true" data-backdrop="static" tabindex="-1">

                <div class="modal-dialog clearfix">
                    <div class="modal-content pop-up">
                        <a href="#" class="fa fa-times cls-pop" data-dismiss="modal"></a>
                        <h3>تماس با ما</h3>
                        <div class="clearfix">
                            <p>ما آماده هستیم تا در هر زمان برای هر مشکلی به شما کمک کنیم ، فقط فرم زیر را پر کنید و منتظر جواب دوستانه تیم ما باشید!</p>
                        </div>
                        <div class="clearfix row">
                            <div id="show_contact_msg"></div>
                            <form class="contact_form" method="post" id="contact_form" action="contact.php">
                                <div class="form-group col-md-6 col-sm-12">
                                    <span class="input-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <input type="text" name="name" id="contact_name" placeholder="نام شما" class="wow fadeInRight" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <span class="input-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    <input type="text" name="phone" id="contact_phone" placeholder="تلفن" class="wow fadeInRight" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <span class="input-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    <input type="email" name="email" id="contact_email" placeholder="ایمیل" class="wow fadeInRight" required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <span class="input-icon"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                    <textarea name="message" id="contact_text" placeholder="پیغام شما" class="wow fadeInRight" required></textarea>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <button class="btn btn-primary wow fadeInRight" type="submit" value="Send Now">ارسال پیغام</button>
                                </div>
                            </form>


                        </div>

                    </div>
                </div>
            </div>
            <!-- Contact US  end here -->

            <!-- Subscribe  start here -->
            <div class="modal fade subscribe" role="dialog" aria-hidden="true" data-keyboard="true" data-backdrop="static" tabindex="-1">

                <div class="modal-dialog clearfix">
                    <div class="modal-content pop-up">
                        <a href="#" class="fa fa-times cls-pop" data-dismiss="modal"></a>
                        <h3>مطلع شوید</h3>
                        <div class="clearfix">
                            <p>توسعه دهندگان ما برای ساختن یک طراحی جدید بسیار سخت تلاش می کنیم. فرم زیر را پر کنید تا آغاز فعالیت سایت را به شما اطلاع دهیم.</p>
                        </div>
                        <div class="clearfix row">
                            <div id="show_subscriber_msg"></div>
                            <form class="contact_form subscribe-form" method="post" id="subscriber_form" action="contact.php">
                                <div class="form-group col-md-8 col-sm-12">
                                    <span class="input-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <input type="email" id="subscriberemail" name="subscriber_email"  placeholder="example@website.com" class="wow fadeInRight">
                                </div>

                                <div class="form-group col-md-4 col-sm-12">
                                    <button class="btn btn-primary wow fadeInRight" type="submit" value="Send Now">به من اطلاع بده</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Subscribe  end here -->

        </div> 


        <!-- Javascript Files
           ================================================== -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/wow.js"></script>
        <script src="static/js/jquery.countdown.min.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>